<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>

    <!-- This is where your Google Analytics script will be injected -->
    {% include deakh.html %}

    <!-- Link to your CSS if you have any -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
    </header>

    <main>
      <!-- You have no idea how much time it took to configure this.... 🤦‍♂️ -->
      {{ content }}
    </main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
    </footer>
  </body>
</html>
